<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ri.togu.sample.servicesamplea">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>

        <service
            android:name=".services.CalculatorService"
            android:enabled="true"
            android:exported="true"
            android:process=":calculator">
            <intent-filter>
                <action android:name="ri.togu.sample.servicesamplea.services.ICalculatorService" />
            </intent-filter>
        </service>

        <service
            android:name=".services.ShoutIntentService"
            android:enabled="true"
            android:exported="false"
            android:process=":shout" />

        <receiver
            android:name=".receivers.AppInstalledObserveReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
